/*158383 Group8 work*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

.container{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    font-family: 'Poppins', sans-serif;
}

.container{
    background:linear-gradient(45deg, blueviolet, rgb(1, 252, 198));
    width: 100%;
    padding: 120px 15%;
    height: 100vh;
}

.container .heading{
    text-align: center;
    padding-bottom: 15px;
    color:#fff;
    text-shadow: 0 5px 10px black;
    font-size: 50px;
}

.container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
}

.container .box-container .box{
    box-shadow: 0 5px 10px #444;
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding:20px 20px;
}

.container .box-container .box h3{
    color:#444;
    font-size: 22px;
    padding:10px 0;
}

.container .box-container .box p{
    color:#777;
    font-size: 15px;
    line-height: 1.8;
}

.container .box-container .box .btn{
    margin-top: 10px;
    display: inline-block;
    background:#333;
    color:#fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

.container .box-container .box .btn:hover{
    letter-spacing: 1px;
}

.container .box-container .box:hover{
    box-shadow: 0 10px 15px black;
    transform: scale(1.03);
}

@media (max-width:768px){
    .container{
        padding:20px;
    }
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    transition: .4s;
}

.navbar a:hover,
.navbar a.active {
    color: white;
}

.Footer {
    width: 70%;
    padding: 70px 15%;
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75));	
    display: flex;
}

.Footer div {
    text-align: center;
}

.Col-2 {
    flex-grow: 2;
    color: white;
}

.Col-3 {
    flex-grow: 2;
    color: white;
}

.Footer div h3 {
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
    color: white;
}

.Col-1 a {
    display: block;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
}

form input {
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}

form button {
    background: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}
/* ANIMATION */
@keyframes showRight {
    100%{
        width: 0;
    }
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: transparent;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .4s;
}

.btn-box a:hover {
    color: white;
}
.btn-box a:nth-child(2) {
    background: transparent;
    color: white;
}

.btn-box a:nth-child(2):hover {
    color: white;
}
.btn-box a:nth-child(2)::before {
    color: white;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: white;
    z-index: -1;
    transition: .4s;
}

.btn-box a:hover::before {
    width: 100%;
}